<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Jimmy's web note", "https://jimmyswebnote.com", class: "text-white" %></small>
  </div>
</footer>
